.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(black, #1f51ff);
  height: 100vh;
  background-image: url("bg_image.png");
}

#btn {
  background: transparent;
  margin-left: 200px;
  font-family: "Courier New", Courier, monospace;
}

.text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  color: #f1f1f1;
  display: block;
  padding-top: 5%;
  margin-right: 15%;
}
